<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
      <mapping class="com.wencheng.domain.KeyStation"/>
      <mapping class="com.wencheng.domain.Station"/>
  </session-factory>
</hibernate-configuration>